@model Web.Marcacion.Models.T_Perfil

@{
    ViewBag.Title = "Create";
}

<div class="col-lg-5">
    <!-- Material form login -->
    <div class="card">
        <div class="card-header info-color white-text py-4t">
            CREAR PERFIL
        </div>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <!--<form class="text-center" style="color: #757575;" action="" method="post">-->
            @using (Html.BeginForm("Create", "T_Perfil", FormMethod.Post))
            {
                <!-- Descripcion -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Perfil, htmlAttributes: new { @class = "form-control" })
                    <label for="Descripcion">Descripción</label>
                </div>
                <!-- Estado -->
                <div class="form-check" style="padding-left:0 !important">
                    <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked disabled>
                    <label class="form-check-label" for="chkActive">Estado</label>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success">AGREGAR</button>
                </div>
                <!-- Descripcion -->
                @*  <div class="md-form">
                <i class="fas fa-envelope prefix" style="left:0"></i>
                <input type="text" id="inputIconEx1" class="form-control" name="descripcion">
                <label for="inputIconEx1">DESCRIPCION</label>
            </div>
            <!-- Material indeterminate -->
            <div class="form-check" style="left:0">
                <input type="checkbox" class="form-check-input" id="materialIndeterminate2" checked>
                <label class="form-check-label" for="materialIndeterminate2">ESTADO</label>
            </div>*@
            }
            <!-- Form -->

        </div>

    </div>
    <!-- Material form login -->
</div>

<script type="text/javascript">
    //$('#Estado').prop('indeterminate', true);
    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>