@model Web.Marcacion.Models.T_Perfil

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" type="text/css" href="~/css/Principal.css" />

<div class="col-lg-5">
    <!-- Material form login -->
    <div class="card">
        <div class="card-header info-color white-text py-4t" style="text-align:center !important">
            CREAR PERFIL
        </div>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <!--<form class="text-center" style="color: #757575;" action="" method="post">-->
            <!-- Descripcion -->
            <div class="md-form">
                <i class="txtDescripcion" style="left:0"></i>
                <input type="text" id="txtDescripcion" class="form-control" />
                <label id="idDescripcion" for="txtDescripcion">Descripción</label>
            </div>
            <!-- Estado -->
            <div class="form-check" style="padding-left:0 !important">
                <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked disabled>
                <label class="form-check-label" for="chkActive">Estado</label>
            </div>
            <hr />
            <div class="md-form m-2 text-center">
                <button id="btnAgregar" onclick="Crear()" class="btn btnmarc Agregar AddUser">Crear</button>
            </div>

            @using (Html.BeginForm("Salir", "T_Perfil", FormMethod.Get))
            {
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btnmarc Regresar">
                        <a>Cancelar</a>
                    </button>
                </div>
            }
            <!-- Form -->

        </div>

    </div>
    <!-- Material form login -->
</div>

<script src="~/js/Perfil/JSPerfil.js"></script>
<script type="text/javascript">
    //$('#Estado').prop('indeterminate', true);
    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>