@model Web.Marcacion.Models.T_Perfil

@{
    ViewBag.Title = "Edit";
}

<div class="col-lg-5">
    <!-- Material form login -->
    <div class="card">
        <div class="card-header info-color white-text py-4t">
            EDITAR PERFIL
        </div>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <!--<form class="text-center" style="color: #757575;" action="" method="post">-->
            @using (Html.BeginForm("Edit", "T_Perfil", FormMethod.Post))
            {
                <!-- Descripcion -->
                @Html.HiddenFor(model => model.ID_Perfil)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Descripcion, htmlAttributes: new { @class = "form-control" })
                    <label for="Descripcion">Descripción</label>
                </div>
                <!-- Estado -->
                @Html.HiddenFor(model => model.Estado)
                <div class="form-check" style="padding-left:0 !important">
                    <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked="@Model.Estado">
                    <label class="form-check-label" for="chkActive">Estado</label>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success">Actualizar</button>
                </div>
            }
            <!-- Form -->

        </div>

    </div>
    <!-- Material form login -->
</div>

<script type="text/javascript">
    //$('#Estado').prop('indeterminate', true);
    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>