
@{
    ViewBag.Title = "Index";
}

<h2>Perfil</h2>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<input type="hidden" value="@ViewBag.localhost" id="idlocalhost" />
<input type="hidden" id="idlistado" value="@ViewBag.ListadoPerfil" />

@using (Html.BeginForm("Create", "T_Perfil", FormMethod.Get))
{
    <button type="submit" class="btn btn-primary btnmarc"></button>
}


<div id="TBPerfil" class="row ">
</div>


<script src="~/js/JSPerfil.js"></script>