
@{
    ViewBag.Title = "Index";
}

<h2>Perfil</h2>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<input type="hidden" value="@ViewBag.localhost" id="idlocalhost" />
<input type="hidden" id="idlistado" value="@ViewBag.ListadoPerfil" />

@using (Html.BeginForm("Create", "T_Perfil", FormMethod.Get))
{
    <button id="btnNuevo" type="submit" class="btn btn-primary btnmarc"></button>
    <label id="lblNuevo" for="btnNuevo">Nuevo</label>
}

@using (Html.BeginForm("ImportarExcel", "T_Perfil", FormMethod.Get))
{
    <button id="btnImportar" type="submit" class="btn btn-primary import">Importar</button>
    <label id="lblImportar" for="btnImportar">Importar</label>
}

<div id="TBPerfil" class="row">
</div>


<script src="~/js/Perfil/JSPerfil.js"></script>